<h1>漫畫列表</h1>
<table class="table">
  <tr>
    <th>漫畫</th>
    <th>上次閱讀</th>
    <th>最新進度</th>
  </tr>
  <% @comics.each do |comic| %>
    <tr>
      <td><%= link_to comic.name, comic %></td>
      <td><%= comic.readed %></td>
        <td 
        <% if comic.latest_episode > comic.readed %>
          class="text-danger"
        <% end %>
        ><%= comic.latest_episode %></td>
      <td><button class="get-comic" comic-name="<%= comic.name %>" comic-id="<%= comic.id %>">追漫！</button></td>
    </tr>
  <% end %>

</table>
