<!DOCTYPE html>
<html>
  <head>
    <title>ComicCrawler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container">
      <div class="row w-50 justify-content-around">
  
        <div><%= link_to "漫畫列表", comics_path %></div>
        <div><%= link_to "搜尋漫畫", search_path %></div>
        <div>
          <label for="user-email">Email:</label>
          <input style="width: 300px;" id="user-email" type="text" placeholder="輸入email" value="koten0224@gmail.com">
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
