<!DOCTYPE html>
<html>
  <head>
    <title>ComicCrawler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "漫畫列表", comics_path %> |
    <%= link_to "搜尋漫畫", search_path %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
